<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <title>CRM Application</title>
    <style>
      body {
        font-family: "Montserrat", sans-serif;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %} {% if messages %} {% for message in messages %}
    <div
      class="bg-red-600 mx-auto container w-full lg:w-[600px] p-2 mb-2 mt-3 rounded-md text-white top-30"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %}
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
