{% extends 'base.html' %} {% block content %}
<section class="p-8 lg:p-16 mt-10">
  <h1 class="text-4xl lg:text-6xl text-slate-700 font-extralight">
    Hi User Welcome back!
  </h1>
  <div class="mt-5 border-t border-gray-300 py-2">
    <h1 class="text-3xl font-semibold text-orange-900 py-2">
      What does CRM do?
    </h1>
    <ul class="ml-12 mt-5 list-disc">
      <li>Actively tracks and manages customer information.</li>
      <li>Connects your entire team from any device.</li>
      <li>Intelligently captures customer emails.</li>
      <li>Simplifies repetitive tasks so you can concentrate on leads.</li>
      <li>Delivers instant insights and recommendations.</li>
      <li>Extends and customises as your business grows.</li>
    </ul>
  </div>
</section>
{% endblock %}
